body{
  font-family: Arial;
}
.filmesHoje{
  color: darkred;
}

.filmesAmanha{
  color: darkblue;
}

a{
  text-decoration: none;
}

h2 a{
  color: seagreen;
}

p{
  font-size: 20px;
}